:root {
  --ui-bg: rgb(26, 85, 145);
  --ui-text: white;
  --game-controller-bg: rgb(12, 48, 85);
  --game-controller-bg-rgb: 12,
  48,
  85;
  --corner-radius: 2rem;
  --gap: clamp(1.5rem, 3.5vmin, 2.5rem);
  --game-controller-size: 60vmin;
  --green: rgb(125, 224, 125);
  --green-dark: rgb(120, 194, 120);
  --red: rgb(248, 73, 73);
  --red-dark: rgb(206, 67, 67);
  --yellow: rgb(236, 236, 41);
  --yellow-dark: rgb(211, 211, 61);
  --blue: rgb(109, 184, 255);
  --blue-dark: rgb(108, 165, 219);
}

*,
d *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ui-bg);
  color: var(--ui-text);
  padding: calc(2 * var(--gap));
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--gap);
    width: 100%;
    max-width: 650px;
  }

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    appearance: none;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.75px;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    transform: scale(1);
    transition: all 250ms ease-out;
    background-color: var(--game-controller-bg);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  button:hover {
    cursor: pointer;
  }

  button+button {
    margin-left: var(--gap);
  }

  .scoreboard {
    display: flex;
    align-items: center;
}

.game {
  perspective: 800px;
}

.instructions {
  text-align: center;
}

.game__controller {
  border-radius: var(--corner-radius);
  background-color: var(--game-controller-bg);
  height: var(--game-controller-size);
  width: var(--game-controller-size);
  max-width: 50vmin;
  max-height: 50vmin;
  margin: var(--gap);
  transform: rotateX(30deg);
}

.game__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  gap: var(--gap);
  padding: var(--gap);
}

.game__button {
  border-radius: calc(var(--corner-radius) / 2);
  transition: all 0.2s ease-out;
  box-shadow: inset 0 0 3rem rgba(var(--game-controller-bg-rgb), 0.5);
  }

  .game__button:hover {
    cursor: pointer;
  }

  .active {
    filter: brightness(1.3);
    box-shadow: 0 0 30px 0 currentColor;
  }

  [data-color="green"] {
    background: radial-gradient(var(--green), var(--green-dark));
    color: var(--green);
}

[data-color="red"] {
  background: radial-gradient(var(--red), var(--red-dark));
  color: var(--red);
}

[data-color="yellow"] {
  background: radial-gradient(var(--yellow), var(--yellow-dark));
  color: var(--yellow);
}

[data-color="blue"] {
  background: radial-gradient(var(--blue), var(--blue-dark));
  color: var(--blue);
}

.toolbar {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}